@page
@model StockSavvy.Pages.CryptoModel
@{
    ViewData["Title"] = "Crypto";
}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

<h1>Crypto</h1>
<form asp-page-handler="CryptoRequest" method="post" class="form-floating">
    <input class="" style="width: 30%;" type="search" placeholder="Type stock code (eg. AMZN)"
           asp-for="CryptoCode" />
    <button style="background: deepskyblue" class="btn btn-outline-primary">Search</button>
</form>
<h3>@Model.Price</h3>
@if (Model.CryptoCode != null)
{
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@@mdo">Buy or sell</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>@Model.CryptoCode</h3>
                </div>
                <div class="modal-body">
                    <h5>@Model.Price</h5>
                </div>
                <div class="modal-footer">
                    <form asp-page-handler="BuyRequest" method="post">
                        <input value="@Model.CryptoCode.ToUpper()" style="display: none" asp-for="CryptoCode"></input>
                        <input value="@Model.Price" asp-for="Price" style="display: none"></input>

                        <input type="number" class="form-control" id="recipient-name" placeholder="Amount buy" asp-for="Amount">
                        <button style="background: green" class="btn btn-primary">Buy</button>
                    </form>
                    <form asp-page-handler="SellRequest" method="post">
                        <input type="number" class="form-control" id="recipient-name" placeholder="Amount sell" asp-for="Amount">
                        <input value="@Model.CryptoCode.ToUpper()" asp-for="CryptoCode" style="display: none"></input>
                        <input value="@Model.Price" asp-for="Price" style="display: none"></input>


                        <button style="background: red" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Sell</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h1>Satmazsan zararda değilsin!</h1>
}
<script>
    const exampleModal = document.getElementById('exampleModal')
            if (exampleModal) {
                exampleModal.addEventListener('show.bs.modal', event => {
                    // Button that triggered the modal
                    const button = event.relatedTarget
                    // Extract info from data-bs-* attributes
                    const recipient = button.getAttribute('data-bs-whatever')
                    // If necessary, you could initiate an Ajax request here
                    // and then do the updating in a callback.
    
                    // Update the modal's content.
                    const modalTitle = exampleModal.querySelector('.modal-title')
                    const modalBodyInput = exampleModal.querySelector('.modal-body input')
    
                    modalTitle.textContent = `New message to ${recipient}`
                    modalBodyInput.value = recipient
                })
            }
</script>