@page
@model StockSavvy.Pages.StockModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">


<div class="container">
    <div>
        <form asp-page-handler="StockRequest" method="post" class="form-floating">
            <input class="" style="width: 44%;" type="search" placeholder="Type stock code (eg. AMZN)" asp-for="StockCode" />
            <input style="width: 45%;" type="search" placeholder="Enter your Alpha Vantage Api key" asp-for="key" />
            <button style="width: 10%;" class="btn btn-outline-primary">Search</button>
        </form>
        
        @if (Model.dataExJson != null)
        {
            <h1 class="alert alert-danger" role="alert">@Model.dataExJson</h1>
        }
        else if (Model.DataList != null)
        {
            <div>
                <h1 style="display: inline">@Model.DataSymbol</h1>

                @if (((Convert.ToDouble(Model.DataClose.Replace(".", ","))) - (Convert.ToDouble(Model.DataOpen.Replace(".", ",")))) > 0)
                {
                    <h4 style="display: inline; " class="badge rounded-pill bg-success">
                        +%@(System.Math.Round((Convert.ToDouble(Model.DataClose.Replace(".", ",")) / (((Convert.ToDouble(Model.DataOpen.Replace(".", ",")))))*100)-100 ,3)) </h4>
                }
                else if (((Convert.ToDouble(Model.DataClose.Replace(".", ","))) - (Convert.ToDouble(Model.DataOpen.Replace(".", ",")))) == 0)
                {
                    <h4 style="display: inline; color: grey" class="badge rounded-pill bg-secondary">%@(System.Math.Round((Convert.ToDouble(Model.DataClose.Replace(".", ",")) / (((Convert.ToDouble(Model.DataOpen.Replace(".", ","))))) * 100) - 100, 3)) </h4>

                }
                else
                {
                    <h4 style="display: inline; " class="badge rounded-pill bg-danger">-%@(System.Math.Round((Convert.ToDouble(Model.DataClose.Replace(".", ",")) / (((Convert.ToDouble(Model.DataOpen.Replace(".", ","))))) * 100) - 100, 3).ToString().Replace("-",""))</h4>

                }
                <form method="post" asp-page-handler="AddPortfolioRequest">
                    <input class="" style="width: 44%;" type="search" placeholder="" asp-for="StockCode" />
                    <input style="width: 45%;" type="search" placeholder="Enter your Alpha Vantage Api key" asp-for="key" />
                    <button class="btn btn-outline-success">Add to portfolio</button>
                </form>

            </div>
            <div class="row">
                <div class="col-8">

                    <h6>@Model.DataLast</h6>
                    <table style="height: 500px; object-fit: cover; " id="line-example-12" class="charts-css line multiple hide-data show-labels show-primary-axis show-4-secondary-axes">
                        <caption> Stock Chart </caption>

                        @if (Model.DataList != null)
                        {

                            int i = 0;
                            <tbody>
                                @foreach (var data in Model.DataList)
                                {

                                    if (i < 10)
                                    {
                                        <tr style="">
                                            <th scope="row"> @Model.Date[i] </th>
                                            <td style="--start: calc(@data.Open/250); --size: calc(@data.Close/250);"><span class="data"> @data.Close </span></td>
                                            <td style="--start: calc(@data.Close/250); --size: calc(@Model.DataList[i + 1].Open/250); "><span class="data"> @data.Close </span></td>

                                        </tr>
                                        @* <tr>
                        <th scope="row"> @Model.Date[i+1] </th>
                        </tr>*@
                                        i++;
                                        i++;
                                    }
                                }
                            </tbody>

                        }
                    </table>




                </div>
                <div class="col-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Update date</th>
                                <th scope="col">Open</th>
                                <th scope="col">Close</th>
                                <th scope="col">Volume</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.DataList != null)
                            {
                                int i = 1;
                                @foreach (var data in Model.DataList)
                                {

                                    <tr>
                                        <td>@Model.Date[i-1]</td>
                                        <td>@data.Open</td>
                                        <td>@data.Close</td>
                                        <td>@data.Volume</td>

                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>

                </div>
            </div>



        }

    </div>
</div>

